<h1>物件一覧</h1>

<table>
  <tr>
    <th>物件名</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.price %></td>
    <td><%= post.address %></td>
    <td><%= post.old %></td>
    <td><%= post.remarks %></td>
    <td><%= link_to '詳細', post_path(post.id) %></td>
    <td><%= link_to "編集", edit_post_path(post.id) %></td>
    <td><%= link_to '削除', post_path(post.id), method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to '物件を登録する', new_post_path %>
